<div class="d-flex flex-column gap-3">
  <h1 class="pe-none">{{ title | titlecase }}</h1>

  <div [ngStyle]="{ color: errorMessage ? 'red' : 'initial' }">
    {{ errorMessage }}
  </div>

  <form [formGroup]="filterForm">
    <input
      type="text"
      placeholder="Search users..."
      formControlName="filter"
      [ngStyle]="{ 'border-color': errorMessage && 'red' }"
      [ngClass]="{ 'error-border': errorMessage }"
    />
  </form>

  <div *ngIf="users.length === 0 && !loading">No results 😔</div>
  <p *ngIf="loading">Loading...</p>

  <div class="row row-cols-2 g-5 mt-1 text-center">
    <app-users *ngFor="let user of users" [user]="user"></app-users>
  </div>
</div>
